* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.numbers {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: .5rem;
}

.sector {
  height: 2.5rem;
  width: 2.5rem;
  border: 3px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  background-color: white;
  color: black;
}

.roll {
  margin-top: 1.5rem;
  height: 3rem;
  width: 9rem;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  border: 4px solid red;
  border-radius: .5rem;
  background-color: gold;
  color: black;
  /* transition: all .4s ease-in; */

}

.roll:hover {
  cursor: pointer;
  border-color: red;
  color: gold;
  background-color: black;
}

.roll:active {
  border-color: black;
  color: gold;
  background-color: red;
}

.win {
  color: white;
  background-color: black;
}

@media screen and (max-width: 425px) {
  .numbers {
    grid-template-columns: repeat(4, auto);
  }
}